body {
    font-family: verdana,arial,sans-serif;
}

table.contacttable {
	font-size:13px;
	color:#FFF;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.contacttable th {
    width: 300px;
	background:#999999;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
    border-collapse: collapse;
    text-align: left;
}

#ValidationSummary1 {
    color: #DB0000;
}


