body {
    font-family: verdana,arial,sans-serif;
}

#maincontainer {
    width: 1020px;
	height: auto;
	background: #00ff21;
	margin: auto;
	padding: 20px;
	overflow: hidden;
	font-family: "Verdana", "Arial", sans-serif;
    -moz-box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
    -webkit-box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
    box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
    background: #263966;
}

h1 {
    text-align:center;
	color: #FFF;
	text-shadow: 2px 2px 0 #3B393D;
}

#ListViewWrapper {
    border-collapse: collapse;
	-moz-box-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
    -moz-box-shadow: 0 0 7px 0 #000 inset, 0 0 16px 0 #000;
	-webkit-box-shadow: 0 0 7px 0 #000 inset, 0 0 16px 0 #000;
	box-shadow: 0 0 7px 0 #000 inset, 0 0 16px 0 #000;
    background: #F7F7F7;
}

.textbox {
    padding: 5px;  
    border: solid 1px #EEE;  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.03, #DDD), color-stop(1, #FFF)); 
    background: -webkit-linear-gradient(top, #DDD 30%, #FFF 100%);
    background: -moz-linear-gradient(top, #DDD 30%, #FFF 100%);
    background: -o-linear-gradient(top, #DDD 30%, #FFF 100%);
	background: linear-gradient(top, #DDD 30%, #FFF 100%);
	-moz-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;
    box-shadow: rgba(0,0,0, 0.3) 0 0 8px; 
	-webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
}


table
{
    margin-left: 6px;
    width: 100%;
    border-collapse: collapse;
}

th {
    color: #3B393D;
	text-shadow: 2px 2px 0 #FFF;
}

td, th
{
    padding: 10px 5px;
    text-align: left;
    vertical-align: middle;
}

tr:nth-child(even)
{
    background: #DFDBFC;
}

#Status {
	height: 80px;
	padding-top: 15px;
}

#StatusLabel {
	color: #DFDBFC;
	font-weight: 900;
}

#ValidationSummary1 {
    color: #DB0000;
}

a:hover {
    color: #4cff00;
}

.linkbtn {
    margin-right: 10px;
	margin-left: 5px;
    padding: 5px;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 11px;
    color: #FFF;
	-moz-box-shadow: 0 0 4px 0 #777;
	-webkit-box-shadow: 0 0 4px 0 #777;
	box-shadow: 0 0 4px 0 #777;
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #263966), color-stop(1, #79bbff) );
	background: -webkit-linear-gradient(top, #263966 5%, #79bbff 100%);
	background:-moz-linear-gradient( center top, #263966 5%, #79bbff 100% );
	background: -o-linear-gradient(top, #263966 5%, #79bbff 100%);
	background: linear-gradient(#263966 5%, #79bbff 100%);
}

#header {
    color: #000;
    text-align: left;
}
